
<div>
    <h3>Lista de Productos:</h3>
    <ul>
        {{#each productos}}
            <li> -id: {{id}} <br> -Title: {{title}}<br> -Description: {{description}}<br> -Price: {{price}}<br> -Code: {{code}}<br> -Stock: {{stock}}<br> -Category:
            {{category}}<br> -Status: {{status}}<br><br></li>
        {{/each}}
    </ul>
    <br><br>
</div>